# Virtual Environments
venv/
.venv/
env/
virtualenv/
__pycache__/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.sample

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
/ragproject
/nodeapp/dist
/mind-js/build
/mind-js/dist